body{
  margin: 0;
  color: #666666;
  letter-spacing:1px;
}
body li{
  list-style:none;
}
body a {
  text-decoration: none;
}
body a:hover {
  color: #346200;
}
.loddingImg{
  width: 100px !important;
  height: 100px !important;;
}
.container {
  margin-top: 20px;
}
.content-wapper{
  width: 1200px;
  min-height: 500px;
  margin: 0 auto;
}

.colorWhite{
  color: white !important;
}
.el-image{
  background-color: white;
  /*border: 1px solid #cccccc;*/
}
/*分类头 begin*/
.classify{
  width:412px;
  height:129px;
  z-index:100;
  margin: 20px auto 0px;
}
.classifyTitle{
  font-size:30px;
  line-height:2;
  color:#333333;
}

.classifyTitleUsa{
  font-size:18px;
  line-height:2;
  color:#999999;
}
/*分类头 end*/

.image-slot{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*左边导航*/
.el-aside{
  margin-top: 10px;
}

/*右边内容*/
.el-main {
  padding: 0px 0px 0px 20px;
  margin-top: 10px;
}

.listTitle {
  border-bottom: 1px solid black;
}

.listTitleName {
  display: inline-block;
  width: 100px;
  height: 45px;
  background-color: #0c365c;
  color: white;
  line-height: 45px;
  text-align: center
}

.listTitleMore {
  float: right;
  color: black;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  margin-right: 5px;
  cursor: pointer;
}
/*动画*/
@keyframes left-right {
  0% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}
.left-right{
  animation-name:left-right;
  animation-duration:2s;
}

@keyframes right-left {
  0% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}
.right-left{
  animation-name:right-left;
  animation-duration:2s;
}

@keyframes top-bottom {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.top-bottom{
  animation-name:top-bottom;
  animation-duration:2s;
}

@keyframes bottom-top {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
.bottom-top{
  animation-name:bottom-top;
  animation-duration:2s;
}

/*路由过度效果*/
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0.8;
}

img.hot{
  position: absolute;
  z-index: 1000;
}
